<!DOCTYPE html>

<html>
<!--Shared layout for the project-->
<head>
    <meta name="viewport" contextmenu="width=device-width" />
    <title>Quote Collection</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Quote Collection</h1>
            <p class="lead">Below you will find some of the greatest quotes known to man. If you have a quote you'd like to add, click the submit button.</p>
        </div>
    </div>
    <div>
        <!--Render the Body Here-->
        @RenderBody()
    </div>

    <hr />
    <footer class="text-center">Copyright 2021, IS 413</footer>
    <br />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>